/* Big tablets to smaller laptop screens*/
@media only screen and (max-width:1200px) {
	html,
	body {
		font-size:14px;
	}

	.about-text {
		margin-bottom:20px;
	}
}

/* Smaller tablets to larger tablet screens*/
@media only screen and (max-width:1023px) {
	html,
	body {
		font-size:12px;
	}

	.row {
		padding:0 2%;
	}

}

/* larger phones  to smaller tablet screens*/
@media only screen and (max-width:767px) {
	html,
	body {
		font-size:10px;
	}

	.nav-head {
		grid-template-columns: max-content;
		display: grid;
		justify-self: end;
		text-align: left;
	}
}

/* smaller to larger mobile phones*/
@media only screen and (max-width:480px) {
	
	.span_1_of_4 {
		width:45%;
		margin-bottom:20px;
	}

	.span_1_of_3 {
		padding:0 10%;
		margin-bottom:5px;
	}
	
	.nav-head {
		grid-template-columns: max-content;
		display: grid;
		justify-self: end;
		text-align: left;
	}
	
}