* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background-color:#fff;
	color:#000;
	font-size: 16px;
	font-family: 'Work Sans','Arial',sans-serif;
}

h1 {

	font-size: 400%;
	color:#fff;
	font-weight: 500;
	margin-bottom: 20px;

}

h2 {
	font-size: 200%;
	color:#fff;
	font-weight: 400;
}

h3 {
	font-size: 180%;
	color:#fff;
	font-weight: 350;
}

.row {
	max-width: 1140px;
	margin: 0 auto;
}

header {
	background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.8)),url(bg-header.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: relative;
}

.header-box {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.header-text-box {
	margin-bottom: 80px;
}

/** Buttons **/

.btn:link,
.btn:visited,
input[type=submit] 
 {
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 200px;
	display: inline-block;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]:hover {
	background-color:rgb(195,165,97);
	color:#000;
}

.btn-full:hover,
.btn-full:active {
	background-color:#cbb26a;
}

.btn-ghost:link,
.btn-ghost:visited {
	border: 2px solid #cbb26a;
	color:#cbb26a;
}

.btn-ghost:hover,
.btn-ghost:active {
	background-color:#cbb26a;
	color:#000;
}

/***** NAVIGATION ******/
.logo {
	height: 120px;
	width: auto;
	float: left;
	justify-self: start;
}

nav {	
	margin: 0 auto;
	display: block;
	padding: 50px 125px 20px 10px;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
}

.nav-head li {
	list-style: none;
	margin: auto;
	border-left: 2px solid #cbb26a;
	text-decoration: none;
	display: inline-block;
	padding: 0 25px;
	position: relative;
	text-align: center;
}

.nav-head li a {
	color: #fff;
	text-decoration: none;
}
	  
.nav-head li a:hover {
	color: #cbb26a;
	transition: all 0.2s ease;
}

/***  ABOUT US  ***/

.about-section {
	padding-bottom: 20px;
	background-color: #f8f7f6;
}

.about-img {
	max-width: 95%;
	height: auto;
	border-radius: 20px;
	margin-top: auto;

}

.about-heading {
	color:#cbb26a;
	font-size: 200%;
	font-weight: 600;
	margin-bottom: 50px;
}

.about-text {
	color:#555;
	font-size: 160%;
	font-weight: 400;
	margin-bottom: 20px;
}
.about-box {
	margin-top: 80px;
}

/**About Section, image animation**/

.about-img {
	overflow: hidden;
	width: 100%;
	height: auto;
	opacity: .9;
	transform: scale(.9);
	transition: transform 0.5s;
	box-shadow:
	0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	0 100px 80px rgba(0, 0, 0, 0.12);
}

.about-img:hover {
	transform: scale(1.05);
	opacity: 1;
   }

/*** Working Hours (about section) ***/

.working-hrs {
	color:#cbb26a;
	font-size: 180%;
	font-weight: 500;
	margin-bottom: 50px;
}

.working-para {
	color:#555;
	font-size: 160%;
	font-weight: 380;
	margin-bottom: 20px;
	line-height: 1.3;
}
.working-row {
	margin-top: 40px;
}

.working-phone {
	color:#555;
	font-size: 130%;
	font-weight: 380;
	margin-top: 10%;
	line-height: 1.3;
}

.bi-telephone-fill{
	color: #cbb26a;
}

.working-img {
	overflow: hidden;
	width: 90%;
	opacity: .9;
	transform: scale(.9);
	transition: transform 0.5s;
	height: auto;
	border-radius: 20px;
	
	box-shadow:
	0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	0 100px 80px rgba(0, 0, 0, 0.12);
}

.working-img:hover {
	transform: scale(1.05);
	opacity: 1;
   }

/**** MENU SECTION ****/

.menu {
	padding-top: 50px;
	background-color: #eeeaea;
	padding-bottom: 30px;
}
.menu h2{
	
	color:#cbb26a;
	font-size: 200%;
	font-weight: 600;
	margin-bottom: 40px;
	text-align: left;
}

/*** RESTAURANTS ***/

.restaurants {
	padding-bottom: 20px;
	padding-top: 50px;
	background-color: #f8f7f6;
}

.restaurant-heading {
	color:#cbb26a;
	font-size: 200%;
	font-weight: 600;
	margin-bottom: 50px;
}

.restaurant-box {
	margin-top: 40px;
}

.restaurant-locs {
	color:#cbb26a;
}

.restaurant-box:first-child {
	text-align: left;
	padding: 0 5%;
}
.restaurant-box:last-child {
	text-align: left;
	padding: 0 5%;
}

iframe {
	box-shadow:
	0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	0 100px 80px rgba(0, 0, 0, 0.12)
}

/*** RESERVATIONS ***/

.reservations {
	background-color: #eeeaea;
	padding-bottom: 30px;
}

.reservations-heading {
	color:#cbb26a;
	font-size: 200%;
	font-weight: 600;
	margin-bottom: 50px;
	text-align: left;
	margin-top: 80px;
}

.reservations {
	text-align:left;
}

.booking-form {
	width:100%;
	margin:0 auto;
	color:#555;
}

input[type=text],
input[type=email],
input[type=date], 
input[type=time]{
	width: 100%;
	padding: 7px;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color:#fff;
}

input[type=submit] {
	border: 0;
	background-color: #cbb26a;
}

label:hover{
	color:#cbb26a;
}

/** PARTNERS **/

.partners {
	text-align: left;
	background-color: #f8f7f6;
	padding-bottom: 30px;
}

.partners-heading {
	color:#cbb26a;
	font-size: 200%;
	font-weight: 600;
	margin-bottom: 50px;
	text-align: left;
	margin-top: 80px;
}

.partner-logo {
	width: 65%;
	height: auto;
	margin-left: 20%;
	vertical-align: center;
}

/*** FEEDBACK ***/

.feedback {
	background-color: #eeeaea;
	text-align: left;
}

.feedback-heading {
	color:#cbb26a;
	font-size: 200%;
	font-weight: 600;
	text-align: left;
	margin-top: 80px;
}

.feedback-box {
	text-align: left;
	margin-bottom: 50px;
}

blockquote {
	padding: 2%;
	font-style: italic;
	line-height: 145%;
	position: relative;
	margin-top: 40px;
}

.img-rounded {
	border-radius: 40%;
}

cite {
	display: inline-block;
	margin-top: 10px;
	font-size: 90%;
}

cite img {
	max-width: 50%;
	max-height: 50%;
	text-align: left;
	margin-right: 10px;
}

.contact-class {
	margin-top: 30px;
}

.contact-subheading {
	color:#cbb26a;
	font-size: 180%;
	font-weight: 500;
	margin-bottom: 50px;
}

/*Forms - feedback section*/

.feedback-form {
	width:100%;
	margin:0 auto;
	color:#555;
}

input[type=text],
input[type=message] {
	width: 100%;
	padding: 7px;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color:#fff;
}

input[type=submit] {
	border: 0;
	background-color: #cbb26a;
}

label:hover{
	color:#cbb26a;
}

textarea {
	height:	100px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color:#fff;
}

/** CAREER **/

.career-section {
	background-color: #f8f7f6;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.career-heading {
	color:#cbb26a;
	font-size: 200%;
	font-weight: 600;
	margin-bottom: 50px;
	margin-top: 80px;
}

/* Forms - career section */

.career-form {
	width:100%;
	margin:0 auto;
	color:#555;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=date],
input[type=message] {
	width: 100%;
	margin: auto;
	padding: 7px;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color:#fff;
}

input[type=submit] {
	border: 0;
	background-color: #cbb26a;
}

label:hover{
	color:#cbb26a;
}